@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@500;600&display=swap');


body{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-image: url(apple.jpg);
   background-size: cover;
   background-color: #130912;
}

.wrapper{
    width: 350px;
    border-radius: 8px;
    background-color: white;
}

.wrapper header{
    color: #130912;
    font-size: 1.325rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 16px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
}

header i{
    cursor: pointer;
    font-size: 0;
    margin-right: 10px;
}

.wrapper.active header i{
    font-size: 30px;
    margin-left: 5px;
}

.wrapper .input-part{
    margin: 20px 25px 30px;
}

.wrapper.active .input-part{
    display: none;
}

.input-part :where(input, button){
    width: 100%;
    height: 60px;
    font-family: "montserrat";
    font-size: 1.125rem;
    border: none;
    outline: none;
}

.input-part input{
    text-align: center;
    border-bottom: 1px solid grey;
}

.input-part input:is(:focus, :valid){
    border: 2px solid #459ea3;
}

.input-part .seperator{
    width: 100%;
    height: 1px;
    margin: 24px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-part .info-text{
    display: none;
    font-size: 1.06rem;
    text-align: center;
    padding: 12px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.info-text.error{
    display: block;
    color: #721c24;
    background-color: #e99097;
    border:1px solid #f5c6cb;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
}
.info-text.pending{
    display: block;
    color: #5d8d91;
    background-color: #abf7f0;
    border:1px solid #a3e8ec;
}

.seperator::before{
    content: "or";
}

.input-part button{
    color: white;
    cursor: pointer;
    background-color: #130912;

}

.wrapper .weather-section{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0 0;
}

.wrapper.active .weather-section{
    display: flex;
}

.weather-section img{
    max-width: 120px;
}

.weather-section .temp{
    font-weight: 700;
    font-size: 80px;
    display: flex;
    font-family: "montserrat";
}

.weather-section .temp .numb{
    font-weight: 700;
}

.weather-section .temp .deg{
    display: block;
    font-size: 45px;
    margin: 10px 6px 0 0;
    
}

.weather-section .weather{
    text-align: center;
    margin: -5px 20px 15px;
    font-size: 20px;
}

.weather-section .location{
    font-size: 20px;
    align-items: center;
    display: flex;
    margin-bottom: 26px;
}
.location i{
    margin: 0 5 0 0;
    font-size: 21px;
}

.weather-section .bottom-one{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid rgb(216, 197, 197);
}

.bottom-one .column{
    width: 100%;
    display: flex;
    padding: 14px 0;
    align-items: center;
    justify-content: center;
}
.column i{
    font-size: 50px;
    color: #130912;
}

.column.humidity{
    border-left: 2px solid grey;
}

.details .temp, .humidity span{
    font-size: 19px;
    font-weight: 500;
    margin-top: 3px;
}

.details .temp .deg{
    font-size: 16px;
    margin: 0;
    padding: 0 2px 0 1px;
}

details p{
    font-size: 15px;
    margin-top: -4px;
}
.get:hover{
    background-color: #721c24;
}
span, p{
    font-family: "montserrat";
}